/*CSS file*/

@font-face {
  font-family: myFirstFont;
  src: local(Blackmoon Quest);
}

* {
  font-family: myFirstFont;
  background-color: black;
  color: white;
}

#lightMode {
  color: white;
  border-radius: .3125em;
  border-style: solid;
  border-width: thin;
  padding: .125em;
  background-color: #716495;
  font-size: 25px;
  opacity: 80%;
}

#lightMode:hover,
#lightMode:focus {
  color: red;
}

nav {
  padding-bottom: 0.625em;
  text-align: center;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;

}

nav a:hover,
nav a:focus {
  color: #d60000;
}

nav li {
  padding: 1em, 1em, 0, 1em;
  display: inline;
}

nav a {
  border-radius: .3125em;
  border-style: solid;
  border-width: thin;
  padding: .125em;
  background-color: #716495;
  font-size: 25px;
  opacity: 80%;
  display: inline-block;
}

a {
  border-radius: .3125em;
  border-style: solid;
  border-width: thin;
  padding: .125em;
  background-color: #716495;
  color: darkgrey;
  font-size: 18px;
}

a:hover,
nav a:focus {
  color: #d60000;
}

form {
  padding-bottom: .3125em;
}

#numberOfDiceInput {
  border-radius: .3125em;
  box-sizing: content-box;
  width: 8%;
  background: white;
  background-image: none;
  color: blue;
  text-align: center;
  font-size: 1em;
}

#rollButton {
  border-radius: .3125em;
  font-size: 1em;
  background: white;
  color: black;

}

p,
b {
  font-size: 18px;
  color: white;
}

#dieImages {
  visibility: hidden;
}

#d6ImageLight {
  padding-left: 2em;
}

#d8ImageLight {
  padding-left: 2em;
}

#d10ImageLight {
  padding-left: 2em;
}

#d12ImageLight {
  padding-left: 2em;
}

#d20ImageLight {
  padding-left: 2em;
}