/*CSS file*/

@font-face {
    font-family: myFirstFont;
    src: local(Blackmoon Quest);
  }

* {
    font-family: myFirstFont;
    background-color: #fffcfc;
}

#togglebtn {
    padding-left: 2.35em;
    display: inline;
}

#lightMode {
    color: white;
    border-radius: .3125em;
    border-style: solid;
    border-width: thin;
    padding: .125em;
    background-color: #716495;
    font-size: 25px;
    opacity: 80%;
}

#lightMode:hover, #lightMode:focus {
    color: red;
}

nav {
    padding-bottom: 0.625em;
}

nav a:link {
    color: darkgrey;
  }
  nav a:visited {
    color: purple;
    
  }
  nav a:hover, nav a:focus {
    color: #d60000;
  }

  nav li {
      padding: 1em, 1em, 0, 1em;
      display: inline;
  }

  nav a {
      border-radius: .3125em;
      border-style: solid;
      border-width: thin;
      padding: .125em;
      background-color: #716495;
      font-size: 25px;
      opacity: 80%;
  }

  a {
    border-radius: .3125em;
    border-style: solid;
    border-width: thin;
    padding: .125em;
    background-color: #716495;
    color: darkgrey;
    font-size: 18px;
  }

  a:hover, nav a:focus {
    color: #d60000;
  }

form {
    padding-bottom: .3125em;
}

#numberOfDiceInput{
    border-radius: .3125em;
    box-sizing: content-box;
    width: 8%;
    background: white;
    background-image: none;
    color: blue;
    text-align: center;
    font-size: 1em;
}

#rollButton {
  border-radius: .3125em;
  font-size: 1em;
  background: white;
  color:black;

}

p, b {
    font-size: 18px;
    color: #353535;
}

#dieImages {
  visibility: hidden;
}

#d6ImageLight {
  padding-left: 2em;
}

#d8ImageLight {
  padding-left: 2em;
}

#d10ImageLight {
  padding-left: 2em;
}

#d12ImageLight {
  padding-left: 2em;
}

#d20ImageLight {
  padding-left: 2em; 
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: white;
}

.formButton {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
  border-radius: 4px;
  background: var(#009579);
}

.formEntry {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  margin-bottom: 1rem;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.formBody {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-size: cover;
}

.formTitle {
  text-align: center;
}